* {
    font-family: 'Work Sans';
}

#nav-bar {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    gap: 20%;
    align-items: center;

}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container>img {
    width: 80px;
    height: 35px;
}

.logo-container h3 {
    font-size: 45px;
}

.logo-text {
    color: #FF42A5;
}

.menu {
    display: flex;
    align-items: center;

    gap: 20px;
}

.menu li {
    list-style: none;
    font-size: 1.5em;
}

#menu-btn {
    border: none;
    width: 10rem;
    height: 3.5rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* banner section style started */
#banner {
    /* border: 2px solid red; */
    width: 100%;
    height: 25rem;
    background-image: url(/images/Group14.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    gap: 140px;
    align-items: center;
    padding-top: 20px;
}

.banner-img-cont img {
    width: 350px;
    height: 25rem;
}

.banner-title {
    font-size: 2em;
    margin: 0;
    font-weight: 600;
}

.banner-title-one {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;

    margin: 0;
    margin-top: 10px;
}

.banner-list {
    color: #534C64;
    font-size: 1.2em;
    text-transform: lowercase;
}

.banner-btn-cont {
    display: flex;
    gap: 15px;
}

.primary-btn {
    font-size: 1.1em;
    height: 3rem;
    width: 7rem;
    color: #FFF;
    border: none;
    border-radius: 48px;
    height: ;
    background-color: #FF42A5;
}

.banner-btn-two {
    color: #FFF;
    font-size: 1.1em;
    height: 3rem;
    width: 7rem;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
}

/* banner end */
/* We are gamer section started */
.we-are-gamer {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.w-a-g-img img {
    width: 35rem;
    height: 23rem;

}

.w-a-g-title {
    text-align: right;
    font-size: 2.5em;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.w-a-g-para {
    color: #534C64;
    text-align: right;
    font-size: 1.1em;
    font-weight: 400;
}

.w-a-g-btn {
    display: flex;
    justify-content: right;
}

.w-a-g-btn1 {
    width: 9rem;
}

/* we are gamer section styles ended */
/* online games section started */
.online-games>p
 {
    text-align: center;
}
.online-games>h3{
    text-align: center;
    font-size: 2em;
}

.o-g-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.cart-cont{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.cart{
    width: 200px;
    height: 250px;
    border-radius: 16px;
}
.cart1{
    background-image: url(/images/Rectangle4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cart2{
    background-image: url(/images/Rectangle5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cart3{
    background-image: url(/images/Rectangle6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cart4{
    background-image: url(/images/Rectangle7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cart-description {
    display: flex;
    justify-content: space-evenly;

}
.cart-description p{
    text-align: left;
    font-size: small;
    padding-left: 20px;
    margin-top: 15px;

}
/* online games end */
/* game show section started */
.game-show{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.g-s-text-cont>h3{
    text-align: left;
    font-size: 2em;
}
.g-s-pink-txt{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.g-s-main-img{
    height: 450px;
    width: 400px;
    background-image: url(/images/Rectangle55.png);
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}
.g-s-side-img{
    height: 250px;
    width: 200px;
}
.g-s-side-img{
    background-image: url(/images/Rectangle67.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 250px;
    right: 100px;
    border: 5px solid #FFF;
    border-radius: 8px;


 
}
/* careeer section started */
.career{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF42A5;
    margin-top: 90px;
    color:#FFF ;
    padding-left: 200px;
}
.career-texts{
    text-align: left;
}
.career-options li{
    list-style: none;

}
.career-options{
    display: flex;
    gap: 50px;

}
.career-img{
    height: 500px;
    width: 625px;
    background-image: url(/images/Group65.png);
    background-size: cover;
}
.career-btn{
    font-size: .9em;
    font-weight: 600;
    color: #FF42A5;
    margin-top: 20px;
    border: none;
    height: 3rem;
    width: 9rem;
    border-radius: 48px;
background: #FFF;
}
/* btn section */
.btn-grp1{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding-left:50px ;
    margin-top:50px ;
    align-content: center;
}
.btn-grp2{
    align-content: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
margin-top: 20px;
    padding-left: 200px;
}
.btn{
    width: 9rem;
    height: 3rem;
    border-radius: 50px;
background: #FFF;
}
.footer{
    margin-top: 30px;
    background-color:#0B0223;
    width:100% ;
    height: 400px;
}
.footer-logo{
    color: #FFF;
}
.footer-logo-cont{
  display: flex;
  justify-content: center;
}
.footer-options{
    display: flex;
    justify-content: space-evenly;
    padding-left: 325px;
    padding-right: 325px;

}
.footer-options li{
    color: #FFF;
    list-style: none;
}
.footer-icon-cont{
    text-align: center;
    padding-right:;
}
.icons{
    font-size: 2em;
    padding-left:30px ;
    margin-top: 30px;
}
.terms-condition {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.terms-condition li{
    color: rgba(255, 255, 255,0.6);
    list-style: none;
}
.credit{
    margin-top: 20px;
    text-align: center;
    color: rgba(255, 255, 255,0.6);
}